<div class="col-md-offset-1 col-md-10">
	<h1>Available Buffer profiles</h1>
	<!-- Display Buffer Profiles from Buffer -->
	<% @buffer_profiles.each do |p| %>
		<div class="well">
			<%= p.formatted_username %>
		</div>
	<% end %>

</div>
